* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
/*1. design*/
.navbar {
  background: #184676;
  color: white;
  padding: 15px 30px;

  /*2. flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-btn {
  padding: 6px 12px;
  border: none;
  background: rgb(90, 184, 238);
  cursor: pointer;
  border-radius: 10px;
}

/* PAGE LAYOUT */
/*1. design*/
.page {
  display: flex;
  min-height: calc(100vh - 120px); 
/* 
Sets the minimum height of the element to the full viewport height (100vh) 
minus 120 pixels. 
This is commonly used to make a section fill the screen 
while leaving space for fixed elements like a header or footer (e.g., a 
120px navbar). 
*/
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #f5f5f5;
  padding: 20px;
}

.sidebar p {
  margin-bottom: 15px;
  cursor: pointer;
  background: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}

/* CARDS GRID */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* BIG screens */
  gap: 30px;
}

/* Medium screens → 2 columns */
@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens → 1 column */
@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px;
  }
  
  .sidebar p {
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 10px 5px;
  }
}


.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
}

.card button {
  margin-top: 10px;
  padding: 8px 14px;
  background: #184676;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* FOOTER */
.footer {
  background: #184676;
  color: white;
  text-align: center;
  padding: 15px;
}
