#landscape{

    width: 100%;
    height: 900px;
    position: absolute;
}

#egg{
    width: 140px;
    height: 120px;
    position: absolute;
    top: 0px;


}
#died_egg {
    width: 140px;
    height: 120px;
    position: relative;
    visibility:hidden;

}
#nest{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    
}






