#landscape{
    width: 100%;
    height: 900px;
    position: relative;
}
#sniper{
    width: 450px;
    position: absolute; bottom: 10px; left: 10px;
}

.birds{
    width: 120px;
    height: 120px; 
    position: relative; 
    
}


#bird-group-1 {
    position: absolute;
    top: 50px; 
    left: 10%;
}

#bird-group-2 {
    position: absolute;
    top: 350px; 
    right: 5%;
}

#bird-group-3 {
    position: absolute;
    bottom: 50px; 
    left: 50%;

}


.birds > :nth-child(1) {
    position: absolute; 
    top: 10px; 
    right: 10px;
}
.birds > :nth-child(2){
    position: absolute; 
    bottom: 10px; 
    right: 10px;
}
.birds > :nth-child(3){
    position: absolute; 
    bottom: 10px; 
    left: 10px;
}

