body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 20px;
}

#text_box {
    margin-bottom: 20px;
}

#cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.country-card {
    width: 320px;
    height: 520px;
    background: #eae8e8;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(211, 199, 199, 0.1);
    text-align: center;
    padding: 20px;
}

.country-card img {
    width: 100%;
    border-radius: 8px;
    height: 250px;
}

.country-card h2 {
    margin: 20px 0 5px 0;
    font-size: 18px;
}

.country-card p {
    margin: 20px 0;
    color: #555;
    font-size: 14px;
}

.country-card h4 {
    color: #999;
    font-weight: normal;
    margin: 20px 0;
}
