body
{
    flex-wrap: wrap;
    display: flex;  
    justify-content: center;
}

.card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-color: #f9f9f9; 
}
#text_box{
    text-align: center;
    color: #333;
    margin: 20px;
    display: block;
}


#img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    
}

#country, #content, #people, #lang, #currency{
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
}
#country{
    font-size: large;
    font-weight: bold;

}
#content{
    font-size: medium;
}
#people{
    font-size: small;

}
#lang,#currency{
    font-size: small;
}
